body {
   background: #4f4f77; 
}

#logo {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: overline;
}

.d-inline-block.align-top {
    margin-left: 90px;
}

#navbarText {
    margin-left: 70px;
    font-family:none;
    margin-bottom: -15px;
}

div#navbarText.collapse.navbar-collapse {
    margin-bottom: -15px;
}

ul {
    color: white;
}

.navbar-nav.mr-auto {
    font-size: 13.5px;
    font-style: italic;
    margin-bottom: -15px;
    padding-left: 90px;
}

ul#navbartext.navbar-nav.mr-auto {
    font-size: large;
}

.nav-item.active {
    text-decoration: underline;
}
.inlinelist {
    font-size: 18px;
}

.navbar {
    background:silver;
    border:none;
}

.nav-item.active {
    padding-right: 30px;
}

.nav-item {
    padding-right: 30px;
}

.nav-link:hover {
    text-decoration: underline;
}